#news{
    height: 100vh;

}

.head-con{
    height: 300px;
}

.head-news{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
}

.head-news .container{
    /* border: 1px solid blue; */
    padding: 3.4rem 0 5rem 14rem;
    line-height: 14px;
}

.head-news .news-head-info{
    font-size: 25px;
    /* font-weight: 400; */
    letter-spacing: 0.3px;
}

.news-head-info h2{
    font-size: 56px !important;
    letter-spacing: 1px;
}

.line-news{
    border-radius: 3px;
    margin-top: 7px;
    width: 160px;
    height: 7px;
    background-color: red;
}

.head-news .btn-news{
    margin-top: 10px;
    border-radius: 6px;
    padding: 0.8rem;
    border: none;
}

.head-news .btn-news:hover{
    background-color: brown;
    color: white;
    border: none;
}


#news  .news-content{
    position: relative;
    background-color: rgb(123, 36, 32);
    /* width: 1000px; */
    height: 100%;
    overflow: visible;
}

#news-container{
    margin-top: 6rem;
    height: 51.5%;
}


.news-grid{
    position: absolute;
    top: -90px;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
    padding: 0 2rem 0 0;
}

.box-news{
    
    background-color: rgb(255, 255, 255);
    width: 330px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 7px 9px 3px rgb(74, 5, 5);
    transition: 0.3s ease-in;
}

.box-news:hover{
    cursor: pointer;
    /* height: 370px; */
    background-color: rgb(255, 255, 255);
    margin-top: -23px;
    border-radius: 10px;
    box-shadow: 7px 9px 3px rgb(74, 5, 5);
    transform: scale(1.02);
}

.box-news:hover .line-icon{
    width: 280px;
    background: rgb(255,0,0);
}

.box-news .material-icons{
    color:rgb(180, 8, 8);
    font-size:62px;
    transition: .5s ease-in;
}

.box-news:hover .material-icons{
    color:rgb(82, 82, 82);
    font-size:70px;
}

.box-news:hover h3{
    /* color: rgb(255,0,0);
    color: linear-gradient(235deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 80%); */
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-shadow: 0px 1px 20px rgba(255, 0, 0, 0.436);
    
}

.box-news h3{
    transition: 0.5s ease-in;
}

.icon-news .line-icon{
    border-radius: 10px;
    margin: 5px auto 0;
    width: 200px;
    height: 5px;
    background: rgb(255,0,0);
    background: linear-gradient(235deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 80%);
    transition: 0.5s ease-in;
}